.title {
  text-align: center;
}
.linktop {
  color: black;
}
.linktop:hover {
  text-decoration: none;
  color: black;
}
.button:hover {
  filter: invert(100%);
}
#deck {
  align-content: center;
}
#choice {
  text-align: center;
  font-size: 400%;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 3%;
}
